---
layout: 'layouts/simple-page.njk'
title: Services
pageName: services
permalink: /{{ locale }}/{{ pageName }}/
---

<h1 class="section-title">{{ title }}</h1>

<p class="lead-text">Des outils libres de droits, respectueux de la vie privée des utilisateurs et hébergés sur des serveurs à consommation responsable.</p>

<hr/>

  {% set item = services[locale].services %}
  {% include "partials/items-showcase.njk" %}
