---
title: Altertek
---

<!doctype html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ethics in technology, commons, ecology, human rights">
    <meta name="author" content="Altertek">
    <meta name="generator" content="eleventy">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/assets/images/logo-32x32.png">
    <link href="/assets/css/all.min.css" rel="stylesheet" media="all">
    <style>
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

    </style>
<script>


function dropdown() {
 const elem = document.getElementById("navbarCollapse").className;
 if (elem.includes('show')) {
  document.getElementById("toggler").className = "navbar-toggler collapsed";
  document.getElementById("navbarCollapse").className = "navbar-collapse collapse";
 } else {
  document.getElementById("toggler").className = "navbar-toggler";
  document.getElementById("navbarCollapse").className = "navbar-collapse collapse show";
 }

}
</script>
  </head>
  <body>
    {% set site = site %}
    {% set locale = locale %}

{% include "partials/header.njk" %}
  <main >
    {{ content | safe }}
  </main>



    {% include "partials/footer.njk" %}
  </body>

</html>
