# Redirect on the french language version if french is present in the browser header
RewriteCond %{REQUEST_URI} / [NC]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^$ http://%{HTTP_HOST}/fr/ [L,R=301]

# Fallback for any other language
RewriteCond %{REQUEST_URI} / [NC]
RewriteRule ^$ http://%{HTTP_HOST}/en/ [L,R=301]
