<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #3F51B5; padding: .0rem 1rem;">
<a class="navbar-brand" href="/{{ locale }}/">
  <img src="/assets/images/logo-32x32.png" class="d-inline-block align-top" alt="altertek logo" loading="lazy"> <span >Altertek</span>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item custom-nav-item">
      <a class="nav-link " href="/{{ locale }}/services/">{{ site[locale].ourServices }}</a>
    </li>
    <li class="nav-item custom-nav-item">
      <a class="nav-link " href="/{{ locale }}/about/">{{ site[locale].about }}</a>
    </li>
  </ul>

  <ul class="navbar-nav">
    <li class="nav-item custom-nav-item">
      <a class="nav-link" href="/{{ locale }}/contribute/">{{ site[locale].contribute }}</a>
    </li>


    <li class="nav-item custom-nav-lang dropdown active">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{{ "🇫🇷" if locale == "fr" }}
{{ "🇬🇧" if locale == "en" }}
 &nbsp;
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
  {% for language in site[locale].languages %}
     <a class="dropdown-item" href="/{{ language.locale }}/{{ pageName }}{{ "/" if pageName }}"> {{ language.language }}</a>
  {% endfor %}
</div>
</li>


    <li class="nav-item custom-nav-lang">
      <a class="btn btn-outline-warning" href="https://www.helloasso.com/associations/altertek/formulaires/1/{{ locale }}/" rel="noopener noreferrer" target="_blank" role="button"><i class="fa fa-heart"></i>&nbsp; {{ site[locale].makeDonation }}</a>
    </li>
  </ul>
</div>
</nav>
</header>
