


    <div class="highlight">
      <div class="container">
        <div class="carousel-caption text-center">
          <h1 style="margin: 0;"><span class="expose-title">MEET. Notre alternative à zoom</span></h1>
          <p ><span class="expose-title" >Découvrez notre instance de visio-conférence (basée sur jitsi), pour échanger avec vos amis, vos élèves ou votre communauté.</span></p>
          <p><a class="btn btn-lg btn-altertek" href="#" role="button">Essayer MEET</a></p>
        </div>
      </div>
    </div>
