


    <div class="highlight">

    <div class="container">
      <div class="row row-highlight">
        <div class="col align-self-center text-center">
           <h1 style="margin: 0;"><span class="expose-title">{{ main[locale].highlight.title }}</span></h1>
           <p><span class="expose-title" >{{ main[locale].highlight.desc }}</span></p>
           <p><a class="btn btn-lg btn-altertek" href="{{ main[locale].highlight.link }}" role="button">{{ main[locale].highlight.button }}</a></p>
        </div>
      </div>
    </div>
    </div>
