<div class="row row-cols-1 row-cols-md-3">


  {% for item in items %}
  <div class="col mb-3">
    <div class="card">
        <img src="{{ item.img }}" height="200" class="d-inline-block align-top" alt="" loading="lazy">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.subtitle }}</p>
        <p><a class="btn btn-lg btn-lg btn-altertek" href="{{ item.link }}" role="button">{{ item.button }}</a></p>
      </div>
    </div>
  </div>
  {% endfor %}


  {# <div class="col mb-3">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1598383365248-ae35c19a697a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" height="200" class="d-inline-block align-top" alt="" loading="lazy">
      <div class="card-body">
        <h5 class="card-title">Attestation Covid19 Digital</h5>
        <p class="card-text">Découvrez notre instance de visio-conférence (basée sur jitsi), pour échanger avec vos amis, vos élèves ou votre communauté</p>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1551817958-c5b51e7b4a33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" height="200" class="d-inline-block align-top" alt="" loading="lazy">
      <div class="card-body">
        <h5 class="card-title">Simple Vidéos</h5>
        <p class="card-text">Reduire ma consommation de ressources quand je regarde youtube</p>
      </div>
    </div>
  </div> #}


</div>
