<div class="row row-cols-1 row-cols-md-3">


  {% for item in items %}
  <div class="col mb-3">
    <div class="card">
        <img src="{{ item.img }}" height="200" class="d-inline-block align-top" alt="" loading="lazy">
      <div class="card-body">
        <h4 class="card-title">{{ item.title }}</h4>
        <p class="card-text">{{ item.subtitle }}</p>
        <p><a class="btn btn-lg btn-lg btn-altertek" href="{{ item.link }}" role="button">{{ item.button }}</a></p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
