<div class="row justify-content-md-center">
  <div class="col-md-10">
    <h2 class="section-title">{{ refs.title }}</h2>
    <br/>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">

    {% for item in refs.refs %}
    <div class=" col-sm-4 text-center">
      {% if item.img %}
      <a href="{{ item.link }}" rel="noopener noreferrer" target="_blank">
        <img class="ref-logo" src="{{ item.img }}" alt="{{ item.name }}">
      </a>
      {% endif %}
    </div>
    {% endfor %}

    </div>

  </div>
